.searchbar{
 
    font-size: 14px;
    line-height: 26px;

}

.searchIcon{
    position: absolute;
    top: 5px;
    right: 10px;
    color: ccc;
    font-size: 12px;
}

.searchIn{
    position: absolute;
    top: -8px;
    right: 7.5px;

}

.ShowMoreLink{
    padding: 5px;
}

#faSearchIcon{
  color: ccc;
    font-size: 12px;
}

