.searchbar{
     font-size: 14px;
    line-height: 26px;
}

.searchIcon{
    position: absolute;
    top: 7.5px;
    right: 10px;
    color: ccc;
    font-size: 12px;
}

.searchIn{
    position: absolute;
    top: 0px;
    right: 7.5px;
}


#faSearchIcon{
  color: rgb(173, 173, 173);
    font-size: 12px;
}
